# Ignore object files and executables
*.o
*.out
toyc
test_array
test.c
test.ll
test

# Ignore build directories
build/

# Ignore test output cache
tests/gcc_output_cache/
tests/output_temp/

.vscode/
