# Ignore object files and executables
*.o
*.out
toyc

# Ignore test executables and output files  
test_array*
test
test.c
test.ll

# Ignore build directories
build/

# Ignore test output cache
tests/gcc_output_cache/
tests/output_temp/

.vscode/
